:root {
  --md-primary-fg-color:        #0077B6;
  --md-primary-fg-color--light: #48CAE4;
  --md-primary-fg-color--dark:  #03045E;
}
[data-md-color-scheme="default"] {
    background-color: #f8f9fa;
}
